run = "php examples/basic_pro/01_get_token.php"
entrypoint = "examples/basic_pro/01_get_token.php"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "php examples/basic_pro/01_get_token.php"]
